body,div,p,table,tr,td,th,ul,ol,li,span,i,input,button,textarea{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: rgba(68, 68, 68, .6);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(68, 68, 68, 1);
}
